body {
  margin: 8px;
  font-family: sans-serif;
}

h1 {
  margin-left: 8px;
}

img {
  max-width: 100%;
  margin: 8px;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.images img {
  max-width: calc(20% - 16px);
  flex-basis: calc(20% - 16px);
}
